modules = ["nodejs-20:v8-20230920-bd784b9", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", ".gitignore"]

[env]
DATABASE_URL = "postgres://postgres.slptmhetwquwhjvgwpdw:zmWwL2fCslW5YOZe@aws-0-us-east-1.pooler.supabase.com:6543/postgres?sslmode=require"

[nix]
channel = "stable-23_05"

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run start"]

[languages]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[languages.typescript.languageServer]
start = "typescript-language-server --stdio"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000
